<div class="container">
  <div class="header">
    <ul class="menu">
      <li class="menu-item">Home</li>
      <li class="menu-item">Consult</li>
      <li class="menu-item">Implement</li>
      <li class="menu-item">Manage</li>
      <li class="menu-item">About</li>
      <li class="menu-item selected">Contact</li>
    </ul>
  </div>
  <div class="main">
    <div class="main-content">
      <div class="heading">
        Innovative Strategy World Class Delivery
      </div>
      <div class="text">
        Accelerating your business transformation and Cloud journey.
      </div>
    </div>
    <div class="main-triangle">
     <svg width="100%" height="100%" viewBox="0 0 200 100" preserveAspectRatio="none">
      <polygon points="0,50 0,100 200,100" style="fill:#0b4e70"></polygon>
     </svg>
    </div>
  </div>
  <div class="menu-shortcuts">
    <div class="shortcut-container">
      <div class="shortcut">
        <div class="icon fa fa-comment-o"></div>
        <div class="title">Consult</div>
        <div class="description">Helping you make the right choices to solve critical business challenges.</div>
        <div class="link"><a href="#">Find out more.</a></div>
      </div>
      <div class="shortcut">
        <div class="icon fa fa-handshake-o"></div>
        <div class="title">Implement</div>
        <div class="description">Implementing great IT solutions first time.</div>
        <div class="link"><a href="#">Find out more.</a></div>
      </div>
      <div class="shortcut">
        <div class="icon fa fa-user-o"></div>
        <div class="title">Manage</div>
        <div class="description">Monitoring, managing and optimising your IT platform.</div>
        <div class="link"><a href="#">Find out more.</a></div>
      </div>
    </div>
  </div>
  <div class="footer">
  </div>
  <div class="end-line">&nbsp;</div>
</div>
